@each $type, $class in $theme-colors {
	.alert-#{$type} {
		background-color: $class;
		color: var(--white-color);
		border: 1px solid darken($class, 15%);
		border-radius: 5px;
		margin: 1rem 0;
		padding: 1rem;
		opacity: 0.85;
		& span {
			font-weight: bold;
		}
	}
	@if ($type == "muted") {
		.alert-#{$type} {
			color: var(--dark-color);
		}
	}
	@if ($type == "light") {
		.alert-#{$type} {
			color: var(--dark-color);
		}
	}
}
