.container {
  display: block;
  width: 100%;
  max-width: 1170px;
  padding: 0 1rem;
  margin: 0 auto;

  &-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@each $break-point, $value in $break-points {
  @media only screen and (min-width: $value) {
    @for $i from 1 through $no-of-columns {
      .col-#{$break-point}-#{$i} {
        width: calc(100% / ($no-of-columns / $i));
        padding: 0px 1rem;
      }
    }
  }
}
