$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$weights: (
  100: 40%,
  200: 30%,
  300: 20%,
  400: 10%,
  500: 0%,
  600: 10%,
  700: 20%,
  800: 30%,
  900: 40%,
);

$opacities: (
  100: 1,
  75: 0.75,
  50: 0.5,
  25: 0.25,
);

@mixin applyColorPalette($className, $property, $darkMode: false) {
  .#{$className}-white {
    #{$property}: white;
  }

  @each $color, $hex in $colors {
    @each $weight, $value in $weights {
      $background-color: if($weight < 500, lighten($hex, abs($value)), darken($hex, $value));
      $classWithPrexix: if($darkMode, dark\:#{$className}, #{$className});
      $hoverClassName: if($darkMode, dark\:hover\:#{$className}, hover\:#{$className});
      
      .#{$classWithPrexix}-#{$color}-#{$weight},
      .#{$hoverClassName}-#{$color}-#{$weight}:hover {
        #{$property}: $background-color;

        @each $opacity, $alpha in $opacities {
          &\/#{$opacity} {
            #{$property}: rgba($background-color, $alpha);
          }
        }
      }
    }
  }
}

@include applyColorPalette('bg', background-color);
@include applyColorPalette('text', color);
@include applyColorPalette('border', border-color);

@media (prefers-color-scheme: dark) {
  @include applyColorPalette('bg', background-color, true);
  @include applyColorPalette('text', color, true);
  @include applyColorPalette('border', border-color, true);
}

