// Define your float options
$float-utilities: (
  "left": left,
  "right": right,
  "none": none,
);


@each $float, $value in $float-utilities {
  .float-#{$float} {
    float: #{$value};
  }
}

@each $bp-size, $bp-width in $breakpoints {
  @media (min-width: $bp-width) {
    @each $float, $value in $float-utilities {
      .#{$bp-size}:\float-#{$float} {
        float: #{$value};
      }
    }
  }
}