// Function to strip units from a number
@function strip-units($number) {
  @if type-of($number) == 'number' {
    @return calc($number / calc($number * 0 + 1));
  } @else {
    @return $number;
  }
}

// Function to escape number as class names
@function escape-number($value) {
  $value: strip-units($value);
  $int: floor($value);
  $fract: $value - $int;
  @if ($fract == 0) {
    @return $int;
  }
  @while ($fract != floor($fract)) {
    $fract: $fract * 10;
  }
  @return #{$int}\.#{$fract};
}
