@import "../node_modules/suika-ui/dist/bundle.css";

html, body {
  height: 100%;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.todo-list {
  width: 500px;
  margin: 0 auto;
}
